.patient-wall-card {
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.3);
    margin: $default-margin;
    .item {
        .image-wrapper {
            width: 85px;
            height: 85px;
            position: relative;
            overflow: hidden;
            border-radius: 100%;
            img {
                @include img-contained-with-radius(100%);
                position: absolute;
                left: 50%;
                top: 50%;
                height: 100%;
                width: auto;
                -webkit-transform: translate(-50%, -50%);
                -ms-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
            }
        }
        .content-wrapper {
            margin-left: 10px;
            width: 69%;
            font-weight: bold;
            .name {
                color: $layout-violet;
                font-size: 19px;
                margin-bottom: 5px;
            }
            .description {
                font-size: 13px;
                color: $lower-text-color;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: normal;
                height: 40px;
            }
        }
        .actions-footer {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            text-align: right;
            padding: 10px;
            font-size: 12px;
            font-weight: bold;
            color: $layout-violet;
            span {
                text-transform: uppercase;
                padding: 5px 10px;
                background-color: $layout-soft-violet;
            }
        }
    }
}

.patient-profiles {
    margin: $default-margin;
    .image-wrapper {
        width: 45px;
        height: 45px;
        display: inline-block;
        margin-right: 5px;
        img {
            @include img-contained-with-radius(100%);
        }
    }
}

.patient-notifications {
    margin-bottom: 10px !important;
    .notification {
        font-size: 16px;
        .timestamp {
            font-size: 13px;
            color: #818181;
        }
    }
}

.patient-chat {
    .chat-members {
        padding: 10px;
        .member {
            width: 35px;
            height: 35px;
            display: inline-block;
            margin-right: 5px;
            img {
                @include img-contained-with-radius(100%);
            }
        }
    }
    .chat-messages {
        .not-current-user {
            padding: 5px 60px;
            padding-right: 10px;
            min-height: 0;
            border-color: #F3F3F3;
            text-align: left;
            margin-bottom: 5px;
            .activated {
                background-color: white;
            }
            h2 {
                font-size: 13px;
                font-weight: bold;
                margin-bottom: 3px;
                color: $layout-violet;
                span {
                    font-size: 12px;
                    font-weight: normal;
                    color: $lower-text-color;
                }
            }
            p {
                font-size: 15px;
                color: $text-color;
            }
            img {
                top: 5px;
                left: 10px;
            }
        }
        .current-user {
            padding: 5px 60px;
            padding-left: 10px;
            min-height: 0;
            border-color: #F3F3F3;
            background-color: #F8F8F8;
            text-align: right;
            margin-bottom: 5px;
            .activated {
                background-color: white;
            }
            h2 {
                font-size: 13px;
                font-weight: bold;
                margin-bottom: 3px;
                color: $layout-violet;
                span {
                    font-size: 12px;
                    font-weight: normal;
                    color: $lower-text-color;
                }
            }
            p {
                font-size: 15px;
                color: $text-color;
            }
            img {
                top: 5px;
                right: 10px;
                left: auto;
            }
        }
    }
}

.patient-chat-input {
    label {
        background-color: white;
    }
}

.patient-tabs {
    $tab-content-padding: 5px 15px;
    .tab-nav {
        background-color: #fff;
        color: $text-color;
        top: 0;
    }
    .tab-item-active {
        border-color: $layout-green !important;
    }
    .tab-item.activated {
        border-color: $layout-green !important;
    }
    .tab-content {
        color: $text-color;
        top: 55px;
    }
    .tab-card {
        box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.3);
        margin: 10px;
        padding: 10px;
        background-color: white;

        &.no-shadow {
            box-shadow: none;
        }

        div {
            font-size: 16px;
            padding: 15px 10px;
            border-bottom: 1px solid #eee;

            &:last-child {
                border-bottom: 0;
            }

            i {
                font-size: 20px;
                margin-right: 10px;
            }
        }
    }
    .general-tab {
        background-color: #F7F7F7;
        .image-name-wrapper {
            width: 100%;
            height: 245px;
            box-shadow: $default-shadow;
            .image {
                width: 100%;
                height: 100%;
                img {
                    width: 100%;
                    height: 100%;
                }
            }
            .name {
                position: relative;
                bottom: 40px;
                left: 10px;
                font-weight: bold;
                font-size: 30px;
                span {
                    color: #fff !important;
                }
            }
        }
    }
    .opinions-tab {
        padding: $tab-content-padding;
        .others-opinion {
            a.item {
                background-color: #f5f5f5;
            }
            h2 {
                color: $text-color;
                .date {
                    font-size: 13px;
                    color: $lower-text-color;
                }
            }
        }
    }
    .contactInfo-tab {

    }
    .diagnosis-tab {
        padding: $tab-content-padding;
        .display {
            .date {
                font-size: 12px;
                color: $lower-text-color;
            }
        }
    }
    .medication-tab {
        padding: $tab-content-padding;
    }
    .history-tab {
        padding: $tab-content-padding;
    }
    .floating-button {
        bottom: 65px !important;
    }
}

.patient-notes {
    h2 {
        font-size: 18px;
        .date {
            font-size: 13px;
            color: $lower-text-color;
        }
    }
}

.patient-notes-display {
    .display {
        margin: 10px;
        h3 {
            margin-bottom: 0;
        }
        p.date {
            font-size: 13px;
            color: $lower-text-color;
        }
    }
}

.notes-footer {
    background-color: #3498db;
    height: 70px;
    padding-top: 18px;

    i {
        font-size: 35px;
        margin-left: 10px;
    }

    span {
        width: 100%;
        font-size: 17px;
        margin-left: 15px;
        position: relative;
        bottom: 3px;
    }
}
