.patient-wall-card {

    .item {

        .image-wrapper {
            width: 85px;
            height: 85px;
            position: relative;
            overflow: hidden;
            border-radius: 100%;

            img {
                @include img-contained-with-radius(100%);
                position: absolute;
                left: 50%;
                top: 50%;
                height: 100%;
                width: auto;
                -webkit-transform: translate(-50%,-50%);
                -ms-transform: translate(-50%,-50%);
                transform: translate(-50%,-50%);
            }
        }

        .content-wrapper {
            margin-left: 10px;

            .name {
                font-size: 19px;
                margin-bottom: 5px;
            }

            .description {
                font-size: 13px;
                color: $lower-text-color;
            }
        }
    }
}

.patient-profiles {
    margin: $default-margin;

    .image-wrapper {
        width: 45px;
        height: 45px;
        display: inline-block;
        margin-right: 5px;

        img {
            @include img-contained-with-radius(100%);
        }
    }
}

.patient-notifications {
    margin-bottom: 10px !important;

    .notification {
        font-size: 16px;

        .timestamp {
            font-size:13px;
            color: #818181;
        }
    }
}
