.patient-wall-card {
    box-shadow: $card-shadow;
    margin: $default-margin;

    .item {

        .image-wrapper {
            width: 85px;
            height: 85px;
            position: relative;
            overflow: hidden;
            border-radius: 100%;

            img {
                @include img-contained-with-radius(100%);
                position: absolute;
                left: 50%;
                top: 50%;
                height: 100%;
                width: auto;
                -webkit-transform: translate(-50%,-50%);
                -ms-transform: translate(-50%,-50%);
                transform: translate(-50%,-50%);
            }
        }

        .content-wrapper {
            margin-left: 10px;
            width: 69%;

            .name {
                font-size: 19px;
                margin-bottom: 5px;
            }

            .description {
                font-size: 13px;
                color: $lower-text-color;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: normal;
                height: 40px;
            }
        }

        .actions-footer {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            text-align: right;
            padding: 10px;
            font-size: 12px;
            font-weight: bold;
            color: $layout-violet;

            span {
                text-transform: uppercase;
                padding: 5px 10px;
                background-color: $layout-soft-violet;
            }
        }
    }
}

.patient-profiles {
    margin: $default-margin;

    .image-wrapper {
        width: 45px;
        height: 45px;
        display: inline-block;
        margin-right: 5px;

        img {
            @include img-contained-with-radius(100%);
        }
    }
}

.patient-notifications {
    margin-bottom: 10px !important;

    .notification {
        font-size: 16px;

        .timestamp {
            font-size:13px;
            color: #818181;
        }
    }
}

.patient-chat {

    .chat-members {
        padding: 10px;

        .member {
            width: 35px;
            height: 35px;
            display: inline-block;
            margin-right: 5px;

            img {
                @include img-contained-with-radius(100%);
            }
        }
    }

    .chat-messages {

        .not-current-user {
            padding: 5px 60px;
            padding-right: 10px;
            min-height: 0;
            border-color: #F3F3F3;

            .activated {
                background-color: white;
            }

            h2 {
                font-size: 13px;
                font-weight: bold;
                margin-bottom: 3px;
                color: $layout-violet;

                span {
                    font-size: 12px;
                    font-weight: normal;
                    color: $lower-text-color;
                }
            }

            p {
                font-size: 15px;
                color: $text-color;
            }

            img {
                top: 5px;
                left: 10px;
            }
        }

        .current-user {
            padding: 5px 60px;
            padding-left: 10px;
            min-height: 0;
            border-color: #F3F3F3;
            background-color: #F8F8F8;

            .activated {
                background-color: white;
            }

            h2 {
                font-size: 13px;
                font-weight: bold;
                margin-bottom: 3px;
                color: $layout-violet;

                span {
                    font-size: 12px;
                    font-weight: normal;
                    color: $lower-text-color;
                }
            }

            p {
                font-size: 15px;
                color: $text-color;
            }

            img {
                top: 5px;
                right: 10px;
                left: auto;
            }
        }
    }
}

.patient-chat-input {

    label {
        background-color: white;
    }
}
