/**
 * Define variables here
 */

// Layout variables
$layout-green: #119387;
$default-margin: 20px 10px;
$default-shadow: 0 2px 5px rgba(0,0,0,0.26);

// Text colors
$text-color: #4d4d4d;
$lower-text-color: #717171;

// Button colors
$floating-button-color: #9B26AF;
$floating-button-text-color: white;
$button-red: #F50057;

