/**
 * Define variables here
 */

// Layout variables
$layout-green: #119387;
$default-margin: 20px 10px;
$default-shadow: 0 2px 5px rgba(0,0,0,0.26);
$card-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
$layout-violet: #9B26AF;
$layout-soft-violet: #F6ECF8;

// Text colors
$text-color: #4d4d4d;
$lower-text-color: #717171;
$required-red: #F44336;

// Button colors
$floating-button-color: $layout-violet;
$floating-button-text-color: white;
$button-red: #F50057;

