<ion-view cache-view="false" view-title="Hola {{vm.patient.name}}!">
    <ion-content>

        <div ng-click="vm.sendGeoAlert()" class="geo-alert-button">
            <div class="img-wrapper">
                <img src="images/siren.png" alt="Alerta">
            </div>
            <h1 class="title">Necesito ayuda!</h1>
        </div>
        <div class="contacts">
            <div class="contact-card" ng-repeat="closePerson in vm.patient.closestPeople track by closePerson._id | orderBy:['priority','name']">
                <div class="contact-img" ng-click="vm.callPhoneNumber({{::closePerson.phone}})">
                    <img ng-src="{{::closePerson.picture}}" alt="{{::closePerson.name}}">
                </div>
                <div class="contact-actions">
                    <div class="contact-info" ng-click="vm.callPhoneNumber(closePerson.phoneNumber)">
                        <i class="icon ion-android-call"></i>
                    </div>
                    <div class="contact-info" ng-click="vm.sendSms(closePerson.phoneNumber)">
                        <i class="icon ion-chatbubble-working"></i>
                        <!--<select ng-model="vm.profile.user" ng-options="user._id as user.name for user in vm.users">
                             <option value="">Seleccione un participante</option>
                        </select>-->
                    </div>
                </div>
            </div>
            <div class="clear-fix"></div>
        </div>
    </ion-content>
</ion-view>
