<ion-view hide-nav-bar="true">
    <ion-content scroll="false">

        <div class="login-wrapper">
            <h4>tracs</h4>
            <google-login-button></google-login-button>
            <div class="iam-pacient-link-wrapper">
                <a ui-sref="app.imAPatientLink">
                    Soy paciente de un tratamiento !!
                </a>
            </div>
        </div>

        <a ui-sref="app.patientHome" style="text-align:center; padding: 10px; border: 1px solid #eee; margin-top: 25px; background-color: cornflowerblue; display: block; color: white;">
            Bypass! ;)
        </a>
    </ion-content>
</ion-view>
