<ion-view hide-nav-bar="true">
    <ion-content scroll="false">
        <div class="login-wrapper">
            <h4>tracs</h4>
            <google-login-button></google-login-button>
            <div class="iam-pacient-link-wrapper">
                <a href="#" onclick="window.open('https://www.twitter.com', '_blank', 'location=no');">
                    Soy paciente de un tratamiento !!
                </a>
                <br>
                <a href="#" onclick="window.open('https://www.twitter.com', '_system', 'location=yes');">
                    Con system
                </a>
            </div>
        </div>
    </ion-content>
</ion-view>
