<ion-view hide-nav-bar="true">
    <div class="alert geo-alert">

        <div class="close-button" ui-sref="app.patientWall({ id: vm.patient._id})">
            <i class="icon ion-ios-close-outline"></i>
        </div>

        <div class="image-wrapper">
            <img ng-src="{{vm.patient.picture}}" alt="{{vm.patient.name}}">
        </div>

        <div class="name-wrapper">
            <h1>{{vm.patient.name}}</h1>
            <div>necesita ayuda!</div>
        </div>

        <div class="actions-wrapper">
            <div class="action pull-left" ng-click="vm.call()" style="">
                <img src="images/phone-icon.png" alt="Llamar" />
            </div>
            <div class="action pull-right" ng-click="vm.seeMap()">
                <img src="images/map-marker.png" alt="Ver mapa" />
            </div>
            <div class="clearfix"></div>
        </div>

    </div>
</ion-view>
