<ion-view view-title="Nuevo Paciente">
    <ion-content>
        <div class="list">
            <h3 class="title">Informacion del Paciente</h3>

            <label class="item item-input item-floating-label">
                <span class="input-label">Nombre</span>
                <input type="text" ng-model="vm.patient.name" placeholder="Nombre" required>
            </label>

            <label class="item item-input item-floating-label">
                <span class="input-label">DNI</span>
                <input type="text" ng-model="vm.patient.dni" placeholder="DNI" required>
            </label>

            <label class="item item-input item-floating-label">
                <span class="input-label">Fecha de nacimiento</span>
                <input type="date" ng-model="vm.patient.birthDate" placeholder="Fecha de nacimiento" required>
            </label>

            <label class="item item-input item-floating-label">
                <span class="input-label">Número de Teléfono</span>
                <input type="text" ng-model="vm.patient.phoneNr" placeholder="Número de Teléfono">
            </label>

            <label class="item item-input item-floating-label">
                <span class="input-label">Diagnóstico general</span>
                <textarea type="text" ng-model="vm.patient.description" placeholder="Diagnóstico general"></textarea>
            </label>
        </div>

        <button class="button button-block button-positive" ng-click="vm.createPatient()">Listo</button>

        <a ui-sref="app.patientHome" class="button button-block button-assertive">Cancelar</a>
    </ion-content>
</ion-view>
