<ion-view view-title="Nuevo paciente">
    <ion-content>
        <div class="list">
            <label class="item item-input item-floating-label">
                <span class="input-label required-field">Nombre</span>
                <input type="text" ng-model="vm.patient.name" placeholder="Nombre *">
            </label>

            <label class="item item-input item-floating-label">
                <span class="input-label required-field">DNI</span>
                <input type="text" ng-model="vm.patient.dni" placeholder="DNI *">
            </label>

            <label class="item item-input item-floating-label">
                <span class="input-label required-field">Fecha de nacimiento</span>
                <input type="text" ng-model="vm.patient.birthDate" placeholder="Fecha de nacimiento *" onfocus="(this.type='date')" onblur="(this.type='text')">
            </label>

            <label class="item item-input item-floating-label">
                <span class="input-label">Número de Teléfono</span>
                <input type="text" ng-model="vm.patient.phoneNr" placeholder="Número de Teléfono">
            </label>

            <label class="item item-input item-floating-label">
                <span class="input-label">Diagnóstico general</span>
                <textarea type="text" ng-model="vm.patient.description" placeholder="Diagnóstico general"></textarea>
            </label>
        </div>
    </ion-content>
</ion-view>
