<ion-view cache-view="false" view-title="Participantes del tratamiento de"{{vm.patient.name}}>
    <ion-content>
        <ion-list>
            <ion-item ng-repeat="profile in vm.profiles" class="item-avatar">
                <img ng-src="{{::profile.user.picture}}" alt="{{::profile.user.name}}">
                <h2>{{::profile.user.name}}</h2>
                <p>{{::profile.description}}</p>
            </ion-item>
        </ion-list>


        <a ui-sref="app.patientAssignProfile">
            <button class="button button-balanced">Asignar nuevo participante</button>
        </a>
    </ion-content>
</ion-view>
