<ion-view cache-view="false" view-title="Perfil de {{vm.patient.name}}">
    <ion-content class="fix-content scroll-125">
        <ion-tabs class="tabs-striped tabs-top patient-tabs">

            <ion-tab title="GENERAL" on-select="vm.changeToGeneralTab()">
                <div class="general-tab">
                    <div class="image-name-wrapper" ng-show="vm.editOn === false">
                        <div class="image">
                            <img ng-src="{{vm.patient.picture}}" alt="{{vm.patient.name}}">
                        </div>
                    </div>
                    <div class="tab-card" ng-show="vm.editOn === false">
                        <div>
                            <i class="icon ion-android-person"></i>
                            {{ vm.patient.name }}
                        </div>
                        <div>
                            <i class="icon ion-android-list"></i>
                            {{ vm.patient.DNI }}
                        </div>
                        <div>
                            <i class="icon ion-android-call"></i>
                            {{ vm.patient.phoneNumber || "Aún no tiene teléfono" }}
                        </div>
                        <div>
                            <i class="icon ion-heart"></i>
                            {{ vm.patient.birthDate | date:"dd/MM/yyyy" :"+0300" }}
                        </div>
                        <div>
                            <i class="icon ion-information-circled"></i>
                            {{ vm.patient.generalDescription || "Aún no hay descripción" }}
                        </div>
                    </div>

                    <div class="info-edit" ng-show="vm.editOn === true ">

                        <label class="item item-input item-floating-label">
                            <span class="input-label required-field">Nombre</span>
                            <input type="text" ng-model="vm.patient.name" placeholder="Nombre *" required>
                        </label>

                        <label class="item item-input item-floating-label">
                            <span class="input-label required-field">DNI</span>
                            <input type="text" ng-model="vm.patient.DNI" placeholder="DNI *" required>
                        </label>

                        <label class="item item-input item-floating-label">
                            <span class="input-label">Teléfono</span>
                            <input type="text" ng-model="vm.patient.phoneNumber" placeholder="Télefono" required>
                        </label>

                        <label class="item item-input item-floating-label">
                            <span class="input-label required-field">Fecha de nacimiento</span>
                            <input type="text" ng-model="vm.patient.birthDate" placeholder="Fecha de Nacimiento *" onfocus="(this.type='date')" onblur="(this.type='text')">
                        </label>

                        <label class="item item-input item-floating-label">
                            <span class="input-label">Descripción General</span>
                            <input type="text" ng-model="vm.patient.generalDescription" placeholder="Descripción General" required>
                        </label>
                    </div>
                </div>

            </ion-tab>

            <ion-tab title="OPINIONES" on-select="vm.changeToOpinionsTab()">

               <div class="contactInfoEmpty-tab" ng-show="vm.profile.isParent">
                    <h3>La información de esta sección se encuentra reservada para los profesionales dentro del tratamiento</h3>
                </div>

                <div class="opinions-tab" ng-show="vm.profile.isParent === false ">
                    <div class="list">
                        <!--<input ng-model="vm.patientOpinion" placeholder="Mi opinión"></input>-->
                        <label class="item item-input item-floating-label">
                            <span class="input-label">Mi opinión</span>
                            <textarea resize="none" ng-model="vm.patientOpinion" placeholder="Escribir mi opinión" required></textarea>
                            <!-- ng-show="!vm.profile.isParent"<input type="text" resize="none" ng-model="vm.patientOpinion" placeholder="Escribir mi opinión" />-->
                        </label>
                    </div>

                    <h4 ng-if="vm.patientOpinions.length">Lo que opinan los participantes</h4>
                    <h4 ng-if="!vm.patientOpinions.length">Aún no hay opiniones</h4>

                    <div class="others-opinion list" ng-repeat="opinion in vm.patientOpinions" ng-show="opinion.latestPatientOpinion">
                        <a class="item item-avatar" href="#">
                            <img ng-src="{{opinion.user.picture}}">
                            <h2>{{ opinion.user.name }} <span class="date">dijo el {{ opinion.latestPatientOpinion.date | date:"dd/MM/yyyy" }}</h2>
                            <textarea class="text-area-display" readonly ng-model="opinion.latestPatientOpinion.description">
                            </textarea>
                        </a>
                    </div>
                </div>
            </ion-tab>

            <ion-tab title="CONTACTO" on-select="vm.changeToContactInfoTab()">

                <div class="contactInfo-tab" ng-show="vm.patient.contactInfo">
                    <div class="tab-card no-shadow" ng-show="vm.editOn === false">
                        <div>
                            <i class="icon ion-android-person"></i>
                            {{vm.patient.contactInfo.name}}
                        </div>
                        <div ng-click="vm.callPhoneNumber(vm.patient.contactInfo.phoneNumber)">
                            <i class="icon ion-android-call"></i>
                            {{ vm.patient.contactInfo.phoneNumber}}
                        </div>
                        <div>
                            <i class="icon ion-ios-location"></i>
                            {{vm.patient.contactInfo.address}}
                        </div>
                    </div>
                    <div class="contactInfo-edit" ng-show="vm.editOn === true">
                        <label class="item item-input item-floating-label">
                            <span class="input-label required-field">Nombre</span>
                            <input type="text" ng-model="vm.patient.contactInfo.name" placeholder="Nombre *" required>
                        </label>
                        <label class="item item-input item-floating-label">
                            <span class="input-label required-field">Teléfono</span>
                            <input type="text" ng-model="vm.patient.contactInfo.phoneNumber" placeholder="Teléfono *" required>
                        </label>
                        <label class="item item-input item-floating-label">
                            <span class="input-label required-field">Dirección</span>
                            <input type="text" ng-model="vm.patient.contactInfo.address" placeholder="Dirección *" required>
                        </label>

                    </div>
                </div>

                <div class="contactInfoEmpty-tab" ng-show="!vm.patient.contactInfo">
                    <h3>El paciente aun no tiene definida su información de contacto.</h3>
                </div>

            </ion-tab>

        </ion-tabs>
    </ion-content>

    <ion-footer-bar class="fix-footer">
        <floating-button state="'app.patientContactInfoCreate'" text="'+'" ng-show="vm.isInfoTab && !vm.patient.contactInfo"></floating-button>
    </ion-footer-bar>

</ion-view>
