<ion-view cache-view="false" view-title="Perfil de {{vm.patient.name}}">
    <ion-content>
        <ion-tabs class="tabs-striped tabs-top patient-tabs">

            <ion-tab title="GENERAL" on-select="vm.changeToGeneralTab()">
                <div class="general-tab">
                    <div class="image-name-wrapper">
                        <div class="image">
                            <img ng-src="{{vm.patient.picture}}" alt="{{vm.patient.name}}">
                        </div>
                        <div class="name">
                            <span editable-text="vm.patient.name">
                            {{ vm.patient.name }}
                        </span>
                        </div>
                    </div>
                    <div class="info">
                        <div><strong>DNI</strong>
                            <a editable-text="vm.patient.DNI">{{ vm.patient.DNI }}</a>
                        </div>
                        <div><strong>Teléfono</strong>
                            <a editable-text="vm.patient.phoneNumber">{{ vm.patient.phoneNumber || "Aún no tiene teléfono" }}</a>
                        </div>
                        <div><strong>Nacido el</strong>
                            <a editable-text="vm.patient.birthDate">{{ vm.patient.birthDate | date:"dd/MM/yyyy" }}</a>
                        </div>
                        <div>
                            <a editable-text="vm.patient.generalDescription">{{ vm.patient.generalDescription || "Aún no hay descripción" }}</a>
                        </div>
                    </div>
                </div>
            </ion-tab>

            <ion-tab title="OPINIONES" on-select="vm.changeToOpinionsTab()" hidden="!vm.profile.isParent">
                <div class="opinions-tab">
                    <div class="add-opinion list">
                        <textarea ng-model="vm.patientOpinion" placeholder="Mi opinión"></textarea>
                        <!--<label class="item item-input item-floating-label">
                            <span class="input-label">Mi opinión</span>
                            <input type="text" ng-model="vm.patientOpinion" placeholder="Mi opinión" />
                        </label>-->
                    </div>

                    <h4 ng-if="vm.patientOpinions.length">Lo que opinan los participantes</h4>
                    <h4 ng-if="!vm.patientOpinions.length">Aún no hay opiniones</h4>

                    <div class="others-opinion list" ng-repeat="opinion in vm.patientOpinions" ng-show="opinion.latestPatientOpinion">
                        <a class="item item-avatar" href="#">
                            <img ng-src="{{opinion.user.picture}}">
                            <h2>{{ opinion.user.name }} <span class="date">dijo el {{ opinion.latestPatientOpinion.date | date:"dd/MM/yyyy" }}</h2>
                            <p>{{ opinion.latestPatientOpinion.description }}</p>
                        </a>
                    </div>
                </div>
            </ion-tab>

            <ion-tab title="CONTACTO">
                <div>INFO DE CONTACTO!</div>
            </ion-tab>

        </ion-tabs>
    </ion-content>

</ion-view>
