<ion-view view-title="Nuevo diagnóstico">
    <ion-content>
        <div class="list">
            <label class="item item-input item-floating-label">
                <span class="input-label required-field">Diagnóstico</span>
                <input type="text" ng-model="vm.patientDiagnosis.name" placeholder="Diagnóstico *">
            </label>
            <label class="item item-input item-floating-label">
                <span class="input-label required-field">Descripción</span>
                <input type="text" ng-model="vm.patientDiagnosis.description" placeholder="Descripción *">
            </label>
        </div>
    </ion-content>
</ion-view>
