<ion-view cache-view="false" view-title="Diagnóstico">
    <ion-content class="scroll-150">

        <ion-tabs class="tabs-striped tabs-top patient-tabs">

            <ion-tab title="DIAGNÓSTICO" on-select="vm.changeToDiagnosisTab()">
                <div class="diagnosis-tab">
                    <h4 ng-if="!vm.patient.latestDiagnosis">El paciente aún no tiene un diagnóstico. Empieza creando uno</h4>

                    <div class="display" ng-show="vm.patient.latestDiagnosis && !vm.editOn">
                        <h3>{{::vm.patientDiagnosis.name}}</h3>
                        <div>Diagnosticado por {{::vm.patientDiagnosis.madeBy.name}} <span class="date" style="font-size:11px; color: light-grey">el {{::vm.patientDiagnosis.date | date:"dd/MM/yyyy"}}</span></div>
                        <h4>{{::vm.patientDiagnosis.description}}</h4>
                    </div>

                    <div class="editDiagnosis" ng-show="vm.patient.latestDiagnosis && vm.editOn">
                        <label class="item item-input item-floating-label">
                            <span class="input-label">Diagnóstico</span>
                            <input type="text" ng-model="vm.patientDiagnosis.name" placeholder="Diagnóstico" required>
                        </label>

                        <label class="item item-input item-floating-label">
                            <span class="input-label">Descripción</span>
                            <textarea type="text" ng-model="vm.patientDiagnosis.description" placeholder="Descripción" required></textarea>
                        </label>
                    </div>
                </div>
            </ion-tab>

            <ion-tab title="MEDICACIÓN" on-select="vm.changeToMedicationTab()">
                <div class="medication-tab">
                    <h4 ng-if="!vm.patient.latestDiagnosis">Para agregar medicaciones primero debe haber un diagnóstico</h4>
                    <h4 ng-if="vm.patient.latestDiagnosis && !vm.patientMedications.length">Aún no hay medicaciones. Empieza agregando una</h4>

                    <div class="med-item" ng-repeat="medication in vm.patientMedications | orderBy:'-date'">
                        <div class="med-header">
                            <span>
                                {{::medication.drug}}
                            </span>
                            <button class="pull-right" ng-click="vm.deleteDiagnosisMedication(medication._id)">
                                <i class="icon ion-android-close"></i>
                            </button>
                            <div class="clearfix"></div>
                        </div>
                        <div class="med-body">
                            <div class="dosis">{{::medication.dosis}} cada {{::medication.frequence}}</div>
                            <div class="prescription">Prescripto por {{::medication.prescribedBy.name}} el {{::medication.date | date:"dd/MM/yyyy"}}</div>
                        </div>
                    </div>
                </div>
            </ion-tab>

            <ion-tab title="HISTORIA" on-select="vm.changeToHistoryTab()">
                <div class="history-tab">

                    <h4 ng-if="!vm.patient.history">El paciente aún no tiene su Historia Vital creada. Empieza a escribirla</h4>

                    <div class="display" ng-show="vm.patient.history && !vm.editOn">
                        <div>Terapia realizada en {{::vm.patient.history.prevTherapyPlace}} durante {{::vm.patient.history.prevTherapyDuration}}</div>
                        <div style="margin-top: 15px;font-size: 22px;">{{::vm.patient.history.description}}</div>
                    </div>

                    <div class="editHistory" ng-show="vm.patient.history && vm.editOn">
                        <label class="item item-input item-floating-label">
                            <span class="input-label">Descripción Historia del Paciente</span>
                            <input type="text" ng-model="vm.patient.history.description" placeholder="Descripción Historia del Paciente *" required>
                        </label>

                        <label class="item item-input item-floating-label">
                            <span class="input-label">Establecimiento tratamiento anterior</span>
                            <textarea type="text" ng-model="vm.patient.history.prevTherapyPlace" placeholder="Establecimiento terápia anterior *" required></textarea>
                        </label>

                        <label class="item item-input item-floating-label">
                            <span class="input-label">Duración terápia anterior</span>
                            <textarea type="text" ng-model="vm.patient.history.prevTherapyDuration" placeholder="Duración tratamiento anterior *" required></textarea>
                        </label>
                    </div>
                </div>
            </ion-tab>
        </ion-tabs>
    </ion-content>

    <ion-footer-bar class="fix-footer">
        <floating-button state="'app.patientDiagnosisCreate'" text="'+'" ng-show="vm.currentTab === 'diagnosis' && !vm.editOn"></floating-button>
        <floating-button click="vm.createMedicationLink" text="'+'" ng-show="vm.currentTab === 'medication' && vm.patient.latestDiagnosis"></floating-button>
        <floating-button state="'app.patientHistoryCreate'" text="'+'" ng-show="vm.currentTab === 'history' && !vm.patient.history && !vm.editOn"></floating-button>
    </ion-footer-bar>

</ion-view>
