<ion-view cache-view="false" view-title="Diagnóstico de {{vm.patient.name}}">
    <ion-content>
        <div class="diagnosis-detail" ng-show="vm.patientDiagnosis">
            <h3>Diagnóstico:{{::vm.patientDiagnosis.description}}</h3>
            <p>En caso de crisis:{{::vm.patientDiagnosis.inCaseOfCrisis}} </p>
            <h4>Diagnosticado el día {{::vm.patientDiagnosis.date|date:'medium'}}</h4>
        </div>
        <!--<h3>{{::vm.message}}</h3>-->

        <div class="first-diagnosis" ng-show="!vm.patientDiagnosis">
            <h3>El paciente aun no tiene un diagnóstico asignado. Empieza creando uno</h3>
        </div>

        <a ui-sref="app.patientDiagnosisCreate" class="floating-button">
            <button class="button button-balanced">+</button>
        </a>

    </ion-content>
</ion-view>
