<ion-view cache-view="false" view-title="Diagnóstico de {{vm.patient.name}}">
    <ion-content>
        <div class="diagnosis-detail" ng-show="vm.patient.latestDiagnosis">
            <h3>Diagnóstico:{{::vm.patientDiagnosis.name}}</h3>
            <p>Descripción:{{::vm.patientDiagnosis.description}} </p>
            <h4>Diagnosticado por: {{::vm.patientDiagnosis.madeBy.name}}</h4>
            <h4>Diagnosticado el día {{::vm.patientDiagnosis.date|date:'medium'}}</h4>
        </div>
        <!--<h3>{{::vm.message}}</h3>-->

        <div class="first-diagnosis" ng-show="!vm.patient.latestDiagnosis">
            <h3>El paciente aun no tiene un diagnóstico asignado. Empieza creando uno</h3>
        </div>

        <div class="medication-list" ng-show="vm.patient.latestDiagnosis">
            <a ng-click="vm.medicationCreate()">Agregar Medicacion</a>

            <h3>Medicaciones</h3>
            <ion-item ng-repeat="medication in vm.patientMedications">
                <h3>Nombre Medicamento: {{::medication.drug}}</h3>
                <h3>Dosis: {{::medication.dosis}}</h3>
                <h4>Frecuencia: {{::medication.frequence}}</h4>
                <h4>Fecha de prescripción: {{::medication.date}}</h4>
            </ion-item>

        </div>
        <a ui-sref="app.patientDiagnosisCreate" class="floating-button">
            <button class="button button-balanced">+</button>
        </a>


    </ion-content>
</ion-view>
<!--ui-sref="app.patientMedicationCreate({{vm.patientDiagnosis._id}})"-->
