<ion-view view-title="Contactos de {{vm.patient.name}}">
    <ion-content>
        <h4 class="title">Configure los contactos cercanos de {{vm.patient.name}}</h4>

        <div class="list">
            <label class="item item-input item-select">
                <div class="input-label">
                    Primer Contacto
                </div>
                <select ng-model="vm.contactP1Id" ng-options="profile.user._id as profile.user.name for profile in vm.profiles">
                    <option value="">Seleccione un participante</option>
                </select>
            </label>

            <label class="item item-input item-select">
                <div class="input-label">
                    Segundo Contacto
                </div>
                    <select ng-model="vm.contactP2Id" ng-options="profile.user._id as profile.user.name for profile in vm.profiles">
                    <option value="">Seleccione un participante</option>
                </select>
            </label>

            <label class="item item-input item-select">
                <div class="input-label">
                    Tercer Contacto
                </div>
                <select ng-model="vm.contactP3Id" ng-options="profile.user._id as profile.user.name for profile in vm.profiles">
                    <option value="">Seleccione un participante</option>
                </select>
            </label>

            <label class="item item-input item-select">
                <div class="input-label">
                    Cuarto Contacto
                </div>
                <select ng-model="vm.contactP4Id" ng-options="profile.user._id as profile.user.name for profile in vm.profiles">
                    <option value="">Seleccione un participante</option>
                </select>
            </label>
        </div>

        <button class="button button-block button-positive" ng-click="vm.editClosestPeople()">Listo</button>

        <a ui-sref="app.patientCurrentProfiles" class="button button-block button-assertive">Cancelar</a>

    </ion-content>
</ion-view>
