<ion-view cache-view="false" view-title="Mis Pacientes">
    <ion-content>
        <ion-list>
            <ion-item ng-repeat="profile in vm.profiles | orderBy:'patient.name' " ng-click="vm.changeStateToPatientWall(profile.patient._id)" class="item-avatar">
                <img ng-src="{{::profile.patient.picture}}" alt="{{::profile.patient.name}}">
                <h2>{{::profile.patient.name}}</h2>
                <p>{{::profile.patient.generalDescription}}</p>
            </ion-item>
        </ion-list>

        <h4 ng-if="!vm.profiles.length" class="length-0">Aún no tienes pacientes. Comienza agregando uno</h4>

        <floating-button state="'app.patientCreate'" text="'+'"></floating-button>
    </ion-content>
</ion-view>
