<ion-view view-title="Mis Pacientes">
    <ion-content>
        <ion-list>
            <ion-item ng-repeat="patient in vm.patients" href="#/app/patient/{{::patient._id}}" class="item-avatar">
                <img ng-src="{{::patient.picture}}" alt="{{::patient.name}}">
                <h2>{{::patient.name}}</h2>
                <p>{{::patient.diagnosis.description}}</p>
            </ion-item>
        </ion-list>
        <a ui-sref="app.patientCreate"><button class="button button-balanced">Crear Nuevo Paciente</button></a>
    </ion-content>
</ion-view>
