<ion-view view-title="Nueva medicacón de {{vm.patient.name}}">
    <ion-content>
        <div class="list">

            <h3 class="title">Nueva medicación de {{vm.patient.name}}</h3>

            <label class="item item-input item-floating-label">
                <span class="input-label">Nombre Medicamento</span>
                <input type="text" ng-model="vm.medication.drug" placeholder="Nombre Medicamento" required>
            </label>

            <label class="item item-input item-floating-label">
                <span class="input-label">Dosis</span>
                <input type="text" ng-model="vm.medication.dosis" placeholder="Dosis" required>
            </label>

            <label class="item item-input item-floating-label">
                <span class="input-label">Frecuencia</span>
                <input type="text" ng-model="vm.medication.frequence" placeholder="Frecuencia" required>
            </label>
            <label class="item item-input item-floating-label">
                <span class="input-label required-field">Fecha de prescripción</span>
                <input type="text" ng-model="vm.medication.date" placeholder="Fecha de prescripción *" onfocus="(this.type='date')" onblur="(this.type='text')">
            </label>
        </div>
    </ion-content>
</ion-view>
