<ion-view view-title="Nueva nota">
    <ion-content>
        <div class="list">
            <label class="item item-input item-floating-label">
                <span class="input-label required-field">Titulo</span>
                <input type="text" ng-model="vm.note.title" placeholder="Titulo *">
            </label>

            <label class="item item-input item-floating-label">
                <span class="input-label required-field">Descripción</span>
                <input type="text" ng-model="vm.note.description" placeholder="Descripción *">
            </label>

            <!--<label class="item item-input item-floating-label">
                <span class="input-label">Adjuntos (dummy por ahora)</span>
            </label>-->
        </div>
    </ion-content>

    <ion-footer-bar align-title="left" class="bar-calm notes-footer">
        <i class="icon ion-information-circled"></i>
        <span>
            Las notas son privadas y solo podrás verlas vos
        </span>
    </ion-footer-bar>
</ion-view>
