<ion-view cache-view="false" view-title="Mis notas sobre">
    <ion-content>
        <ion-list>
            <ion-item ng-repeat="note in vm.patientNotes | orderBy:'note.date' " ng-click="#" class="item-avatar">
                <h2>{{::note.title}}</h2>
                <h3>{{:note.date</h3>
                <p>{{::note.description}}</p>
            </ion-item>
        </ion-list>

        <!--<h3>{{::vm.message}}</h3>-->

        <a ui-sref="#" class="floating-button">
            <!--<label for="">Nuevo</label>-->
            <button class="button button-balanced">+</button>
        </a>
    </ion-content>
</ion-view>
