<ion-view cache-view="false" view-title="Mi paciente">
    <ion-content>

        <div class="card patient-wall-card" ui-sref="app.patientDetail({ id:'{{::vm.patient._id}}' })">
            <div class="item">
                <div class="image-wrapper pull-left">
                    <img ng-src="{{::vm.patient.picture}}" alt="{{::vm.patient.name }}">
                </div>
                <div class="content-wrapper pull-left">
                    <div class="name">{{::vm.patient.name}}</div>
                    <div class="description">{{::vm.patient.generalDescription}}</div>
                </div>
            </div>
        </div>

        <div class="patient-profiles">
            <h4>Participantes</h4>
            <div ng-repeat="profile in vm.patient.profiles" class="image-wrapper">
                <img ng-src="{{::profile.user.picture}}" alt="{{::profile.user.name}}">
            </div>
        </div>

        <div class="list card patient-notifications" ng-show="vm.notifications.length">
            <a class="item item-icon-left notification" ng-repeat="notification in vm.notifications | orderBy: '-timestamp'" ui-sref="{{notification.link}}">
                <i class="icon {{notification.icon}}"></i> {{notification.message}}
                <div class="timestamp">{{notification.timestamp | twitterDate}}</div>
            </a>
        </div>


        <button class="button button-balanced" ng-click="vm.enterPatientChatRoom()">Chat del paciente</button>


    </ion-content>
</ion-view>
