<ion-view title="Sala de chat de {{vm.patient.name}}">

    <ion-content class="patient-chat">

        <div class="chat-members">
            <div ng-repeat="chatMember in vm.chatMembers" class="member">
                <img ng-src="{{::chatMember.picture}}" alt="{{::chatMember.name}}">
            </div>
        </div>

        <div class="list" ng-if="vm.messages.length > 0">
            <li class="item item-text-wrap no-border {{ vm.isNotCurrentUser(msg.user) }}" ng-repeat="msg in vm.messages">
                <div class="msg">
                    <div class="details padding">
                        <p>
                            <div class="user">{{ msg.user }}</div>
                            <div class="message">{{ msg.text }}</div>
                        </p>
                        <small>{{msg.time | twitterDate}}</small>
                    </div>
                </div>
            </li>
        </div>

        <div class="card" ng-if="!vm.messages.length">
            <div class="item item-text-wrap">
                Todavia no hay mensajes
            </div>
        </div>

    </ion-content>


    <footer class="bar bar-footer bar-positive item-input-inset">
        <label class="item-input-wrapper">
            <input type="text" id="message" name="message" ng-model="vm.message" placeholder="Escribir mensaje">
        </label>
        <a class="button button-icon icon ion-android-send" ng-click="vm.sendTextMessage()"></a>
    </footer>


</ion-view>
