<ion-view view-title="Nuevo Tratamiento">
    <ion-content>
        <div class="list">
            <label class="item item-input item-floating-label">
                <span class="input-label">Descripción del Tratamiento</span>
                <textarea type="text" placeholder="Descripción  del Tratamiento"></textarea>
            </label>
        </div>
        <a href="#/app/treatmentCreatePatient"><button class="button button-block button-positive">Crear Paciente</button></a>
    </ion-content>
</ion-view>
