<ion-view view-title="Nuevo Tratamiento - Creación Paciente">
    <ion-content>
        <div class="list">
            <label class="item item-input item-floating-label">
                <span class="input-label">Nombre</span>
                <input type="text" placeholder="Nombre">
            </label>
            <label class="item item-input item-floating-label">
                <span class="input-label">Fecha Nacimiento</span>
                <input type="text" placeholder="Fecha de nacimiento">
            </label>
            <label class="item item-input item-floating-label">
                <span class="input-label">Como es?</span>
                <textarea type="text" placeholder="Como es?"></textarea>
            </label>
        </div>
        <button class="button button-block button-positive">Finalizar Tratamiento</button>
    </ion-content>
</ion-view>
