/**
 * Archivo para dejar todas las clases que creamos útiles,
 * y que podrían ser utilizadas en distintas views, y no solo
 * en una específica
 */

.margin-autocenter {
    margin: 0 auto;
}

.pull-left {
    float: left !important;
}

.pull-right {
    float: right !important;
}

.clearfix {
    clear:both;
}

.required-field {
    &:after {
        color: $required-red;
        margin-left: 5px;
        content: "*";
    }
}

h4.length-0 {
    margin: $default-margin;
}

input.popup-input {
    padding: 5px;

    &:focus {
        border: 1px solid #eee;
    }
}
