
body, html {
    font-family: Roboto, arial, sans-serif;
    font-weight: 400;
    color: $text-color;
}

/*  =========================
    ======== SPINNER ========
    =========================
*/

.spinner-wrapper {
    width: 70px;
    margin: 0px auto;
    text-align: center;
    position: relative;
    top: 40%;
}

.spinner-wrapper svg {
    width: 65px;
    height: 65px;
}


/*  ====================================
    ======== TABLE as .col .row ========
    ====================================
*/

.col {
    border: solid 1px #ddd;
    border-bottom-style: none;
    border-right-style: none;
    text-align: center;
}

.col:first-child,
.row:first-child {
    border-left: none;
}

.row:first-child .col {
    border-top: none;
}

.bar-balanced {
    background-color: $layout-green !important;
}

.button-balanced {
    background-color: $layout-green !important;
}

.button.button-positive {
    background-color: $layout-violet !important;
}

.item-avatar .item-right-button {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    border-radius: 0;
}

.side-menu {

    .side-menu-header {
        height:100px;
        background-image: url('../images/menu-background.jpg');
        background-size: 100% 100%;

        img.profile-picture {
            width: 60px;
            height: 60px;
            border-radius: 100%;
            margin-top: 13px;
            margin-left: 5px;
        }

        .title {
            margin-top: 10px;
            overflow:visible;
        }

        .name {
            color: white;
            font-weight: bold;
        }

        .email {
            font-size: 11px;
            margin-top: -20px;
            color: #F1F1F1;
        }
    }

    .side-menu-content {
        top: 100px;
    }
}

.top-bar {
    .send-alert-button {
        margin-right: 15px;
    }
}

.floating-button {
    position: fixed;
    bottom: 10px;
    right: 10px;
    text-decoration: none;
    z-index: 100;

    button {
        width: 60px;
        height: 60px;
        border-radius: 100%;
        background-color: $floating-button-color !important;
        color: $floating-button-text-color;
        font-size: 30px;
        text-align: center;
        box-shadow: $default-shadow;
    }

    label {
        position: relative;
        top: 40px;
        right: 45px;
        text-decoration: none;
        color: #212121;
        font-size: 15px;
    }
}

/* x-editable customization */
.editable-click {
    border-bottom: none !important;
}

.editable-buttons {
    display: none !important;
}

.editable-wrap {
    width: 100% !important;
}

.editable-input {
    width: 100% !important;
}
