<ion-view view-title="Usuarios">
    <ion-content>
        <div class="spinner-wrapper">
            <spinner name="usersListSpinner" show="vm.loading">
                <ion-spinner icon="android"></ion-spinner>
            </spinner>
        </div>
        <ion-list>
            <ion-item ng-repeat="user in vm.users" href="#/app/users/{{::user._id}}" class="item-avatar">
                <img src="{{::user.profilePhoto}}" alt="{{::user.name}}">
                <h2>{{::user.name}}</h2>
                <p>{{::user.email}}</p>
                <ion-option-button class="button-info" ng-click="edit(item)">
                    <i class="icon ion-edit"></i>
                </ion-option-button>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
