<ion-view view-title="{{vm.user.name}}">
    <ion-content>
        <div class="item item-avatar">
            <img src="{{vm.user.profilePhoto}}" alt="{{vm.user.name}}">
            <h2>{{::vm.user.name}}</h2>
            <p>{{::vm.user.email}}</p>
        </div>

        <div class="item item-icon-left">
            <a ng-href="tel:{{::vm.user.phone}}" class="phone-link">
                <i class="icon ion-ios-telephone-outline"></i> {{::vm.user.phone}}
            </a>
        </div>
        <div class="item item-icon-left">
            <i class="icon ion-ios-clock-outline"></i>
            <strong>Horarios</strong>
        </div>
        <div class="item" ng-repeat="scheduleDay in vm.user.schedule" class="schedule-day">
            {{::scheduleDay.day}} - {{::scheduleDay.startHour}} a {{::scheduleDay.endHour}}
        </div>
    </ion-content>
</ion-view>
