.contacts {
    // padding-right: 20px;
}

.contact-card {
    width: 44%;
    margin: 10px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    border-radius: 2px;
    cursor: pointer;
    float: left;

    &:active {
        background-color: #F7F7F7;
    }

    .contact-img {
        width: 100%;
        position: relative;
        height: 100px;
        overflow: hidden;

        img {
            position: absolute;
            left: 50%;
            top: 50%;
            height: 100%;
            width: auto;
            -webkit-transform: translate(-50%,-50%);
            -ms-transform: translate(-50%,-50%);
            transform: translate(-50%,-50%);
        }
    }

    .contact-actions {
        display: table;
        width: 100%;
        text-align: center;
        padding-top: 5px;
        padding-bottom: 5px;
    }

    .contact-info {
        font-size: 15px;
        padding: 10px;
        display: table-cell;
        border-right: 1px solid #eee;

        &:last-child {
            border-right: 0;
        }
    }
}
