<ion-side-menus enable-menu-with-back-views="false">
    <ion-side-menu-content>
        <ion-nav-bar class="bar-balanced">
            <ion-nav-back-button></ion-nav-back-button>
            <ion-nav-buttons side="left">
                <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
                </button>
            </ion-nav-buttons>
            <ion-nav-buttons side="right">
                <!--
                    Las acciones de este botón y la variable que lo muestra están declarados en el $rootScope
                     que maneja el MenuFactory
                 -->
                <button ng-click="rightButtonAction()" ng-show="hasRightButtonAction" ng-cloack class="ng-cloack button button-icon button-clear ion-android-done">

                <button ng-click="rightButtonAction()" ng-show="hasRightEditButtonAction" ng-cloack class="ng-cloack button button-icon button-clear ion-edit">



                <button ui-sref="app.patientChatRoom" ng-show="showChatButton" ng-cloack class="ng-cloack button button-icon button-clear ion-chatboxes">
                </button>

            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view name="menuContent"></ion-nav-view>
    </ion-side-menu-content>

    <ion-side-menu side="left" class="side-menu">
        <ion-header-bar class="side-menu-header">
            <img class="profile-picture" ng-src="{{vm.user.picture}}" alt="{{vm.user.name}}">
            <div class="title">
                <div class="name">{{vm.user.name}}</div>
                <div class="email">{{vm.user.email || vm.user.phoneNumber}}</div>
            </div>
        </ion-header-bar>
        <ion-content class="side-menu-content">
            <ion-list>
                <ion-item ui-sref="app.patientNotes" class="item-icon-left" ng-click="vm.closeMenu()" ng-hide="vm.imAtPatientHome">
                    <i class="icon ion-clipboard"></i> Mis notas
                </ion-item>
                <ion-item ui-sref="app.patientCurrentProfiles" class="item-icon-left" ng-click="vm.closeMenu()" ng-hide="vm.imAtPatientHome">
                    <i class="icon ion-android-person-add"></i> Participantes
                </ion-item>
                <ion-item ui-sref="app.patientClosestPeople" class="item-icon-left" ng-click="vm.closeMenu()" ng-hide="vm.imAtPatientHome">
                    <i class="icon ion-android-call"></i> Contactos
                </ion-item>
                <ion-item menu-close ui-sref="app.patientHome" class="item-icon-left" ng-hide="vm.imAtPatientHome">
                    <i class="icon ion-android-contacts"></i> Mis pacientes
                </ion-item>
                <ion-item menu-close class="item-icon-left" ng-click="vm.logout()">
                    <i class="icon ion-android-exit"></i> Cerrar sesión
                </ion-item>
            </ion-list>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>
